<ul class="footer panel mtl text--center">
	<li><a href="/legal">{{__ 'Legal information'}}</a></li>
	<li><a href="/contact">{{__ 'Contact Customer Service'}}</a></li>
	<li><a href="{{ekhanei.smartPhone}}">{{__ 'Go to smartphone version'}}</a></li>
</ul>