<section class="welcome">
  <div class="welcome__strip"></div>
  <div class="welcome__container container">
    <div class="welcome__box panel text--center">
      <p>{{__ 'You have been specially selected for early access to our new website.'}}</p>
      <p>{{__ 'To start enjoying the new Ekhanei just create an account.'}}</p>
      <p>{{__ 'It’s fast and completely free!'}}</p>
      <a href="/signup" class="btn btn--primary">{{__ 'Create a new account'}}</a>
    </div>
  </div>
</section>