<div class="container-sm text--center mtl">
	<div class="error">
		<div class="error-bg">
			<span class="error-type">404</span>
		</div>
		<p class="text--muted error-message">{{{__ "The page you're looking for doesn't exist.<br> Try going back, or search for ads."}}}</p>
		<a href="/" class="btn btn--primary">{{__ "Search for ads"}}</a>
	</div>
</div>