<div class="container-sm text--center mtl">	
	<div class="error">
	  <div class="error-bg">
	    <span class="error-type">500</span>
	  </div>
	  <p class="text--muted error-message">{{__ "Oops! An unknown error just ocurred. Our team has been notified and we're working hard to get the kite back in the air."}}</p>
	  <a href="/" class="btn btn--primary">{{__ "Search for ads"}}</a>
	</div>
</div>