# This file is an example of the required environment variables for this app
NODE_ENV=development
DEVICE=desktop
LOG_LEVEL=debug
SESSION_SECRET=
AES_SECRET=

#PIGEON STUFF
PIGEON_API_SECRET=
PIGEON_API_KEY=

#PINION CATEGORIES
PINION_CATEGORY_URL=http://pinion.api.ekhanei.com/v1/config/category

#REDIS STUFF
REDIS_HOST=
REDIS_PORT=

#XMPP STUFF
XMPP_HOST=
XMPP_BIND=

#FACEBOOK CONFIG
FACEBOOK_APP_ID=

#SERVICE URLS
SERVICE_PIGEON=http://pigeon.api.ekhanei.com/v1
SERVICE_PARROT=http://parrot.api.ekhanei.com/v1
SERVICE_ASK=http://ask.api.ekhanei.com/v1
SERVICE_COLUMBUS=http://columbus.api.ekhanei.com/v1
SERVICE_RAT=http://rat.api.ekhanei.com/v1
SERVICE_PICTO=http://pictomatic.api.ekhanei.com/v1
SERVICE_RUNNER=http://runner.api.ekhanei.com/v1

#AWS CREDENTIALS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#APK DOWNLOAD
APK_DOWNLOAD_BUCKET=

#Hosts needed for redirection
DESKTOP_SITE=qa.ekhanei.com
SMARTPHONE_SITE=sqa.ekhanei.com
FEATUREPHONE_SITE=fqa.ekhanei.com

#Image urls
IMAGE_URL_0=https://qaimg0.ekhanei.com/desktop
IMAGE_URL_1=https://qaimg1.ekhanei.com/desktop
IMAGE_URL_2=https://qaimg2.ekhanei.com/desktop
IMAGE_URL_3=https://qaimg3.ekhanei.com/desktop

#Survey url
AD_POST_SURVEY_URL=

#Sitemap Base URL
SITEMAP_BASE_URL=